/**
* Style BUTTONS
* @version: 1.0
* Copyright(c) -- Heartbit
*/

/* BUTTONS
________________________________________________________________ */

.btn{
	background-image: none;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	display: inline-block;
	margin-bottom: 0;
	position: relative;
	text-align: center;
  text-decoration: none;
	touch-action: manipulation;
	vertical-align: baseline;
	white-space: nowrap;
	max-width: 100%;

	@include buttons-variation( $btn-default-color, $btn-default-bg, $btn-default-border, $btn-default-hover );
	@include buttons-size( $btn-padding-vertical, $btn-padding-horizontal, $btn-font-size, 1, $btn-border-radius );

	&, &:active, &.active{
		&:focus, &.focus{
			
		}
	}

	&:hover, &:focus, &.focus{
		color: $color-white;
		text-decoration: none;
	}

	&.disabled, &[disabled] {
		@include opacity(0.65);
		cursor: $cursor-disabled;
		pointer-events: none;
	}
	// Full Buttone
	&.full { 
		width: 100%;
	}

	.icon {
		line-height: 1;
	}
}

/* ALTERNATIVE BUTTONS
________________________________________________________________ */

// Button GREEN
.btn-green {
	@include buttons-variation( $btn-green-color, $btn-green-bg, $btn-green-border, $btn-green-hover, $btn-green-bg-hover );
	@include button-loading($btn-green-color);

    &-full {
        @include buttons-variation( $color-white, $btn-green-color, $btn-green-border, $btn-green-hover );
        @include button-loading($color-white);
        background-image: linear-gradient(180deg, #85D17C 0%, $color-green 100%);
        font-weight: $font-weight-bold;
        text-transform: uppercase;

        &[disabled] {
            background-image: none;
            background-color: $color-gray;
            border-color: $color-gray;
        }
    }
}
// Button PINK
.btn-pink {
	@include buttons-variation( $btn-pink-color, $btn-pink-bg, $btn-pink-border, $btn-pink-hover );
	@include button-loading($btn-pink-color);
// Button PINK FULL
	&-full {
		@include buttons-variation( $color-white, $btn-pink-color, $btn-pink-border, $btn-pink-hover );
		@include button-loading($btn-pink-color);
		background-image: linear-gradient(180deg, #e75a79 0%, $color-pink 100%);
		font-weight: $font-weight-bold;
		text-transform: uppercase;

		&[disabled] {
			background-image: none;
			background-color: $color-gray;
			border-color: $color-gray;
		}
	}
}
// Button White
.btn-white {
	@include buttons-variation( $btn-white-color, $btn-white-bg, $btn-white-border, $btn-white-hover );
	@include button-loading($btn-white-color);
	text-transform: uppercase;

	&:active, &:focus, &:hover {
		background-color: rgba($color-white, 0.1);
	}

	&-full {
		@include buttons-variation( $color-green, $btn-white-color, $btn-white-border, $btn-white-hover );
		@include button-loading($btn-white-color);
		font-weight: $font-weight-bold;
		text-transform: uppercase;
		box-shadow: -0.2px 2px 6px rgba(1, 0, 1, 0.08);

		&:hover, &:focus, &:active {
			color: $color-green;
		}

		&[disabled] {
			background-image: none;
			background-color: $color-gray;
			border-color: $color-gray;
		}
	}

	&:active, &.active{
		color: $color-white;
		outline: 0;
		background-image: none;
		top: 2px;
	}
}

/* Link Button
________________________________________________________________ */

.btn-link{
	@include border-radius(0);
    border: 0;
	color: $color-green;
	padding: 0;
	line-height: inherit;
    text-decoration: none;

	&, &:active, &.active, &[disabled]{
		background-color: transparent;
		//@include box-shadow(none);
	}

	&:hover, &:focus, &:active {
		border-color: transparent;
        text-decoration: underline;
	}

	&:hover, &:focus{
		color: $color-green-light;
		text-decoration: underline;
		background-color: transparent;
	}

	&[disabled]{
		&, &:hover, &:focus{
			//color: $btn-link-disabled-color;
			text-decoration: none;
		}
	}
}

/* Floating Button
________________________________________________________________ */

.btn-floating {
	@include border-radius(50%);
}

/* Buttons Size
________________________________________________________________ */

// Large
.btn-lg{
	@include buttons-size( $btn-padding-vertical + 3, $btn-padding-horizontal + 3, $btn-font-size + 3, $btn-line-height + 10, $btn-border-radius + 3 );
}

// Default / Medium
.btn-md{
	@include buttons-size( $btn-padding-vertical, $btn-padding-horizontal, $btn-font-size, $btn-line-height, $btn-border-radius );
}

// Small
.btn-sm{
	@include buttons-size( $btn-padding-vertical - 3, $btn-padding-horizontal - 3, $btn-font-size - 3, $btn-line-height - 25, $btn-border-radius - 3 );
}


/* LOADING
________________________________________________________________ */
