/**
* Style GROUP LIST
* @version: 1.0
* Copyright(c) -- Jazida
*/
/* GROUP LIST
________________________________________________________________ */
.group__list--item {
  border: 1px solid #e0e0e0;
  border-top: 0;
  display: flex;
  align-items: center;
  padding: 10px 15px; }
  .group__list--item:first-child {
    border-top: 1px solid #e0e0e0; }
  .group__list--item p {
    flex-grow: 2; }
  .group__list--item strong {
    flex-grow: 1; }

.group__scroll {
  max-height: 326px;
  overflow: hidden;
  overflow-y: auto; }
