/**
* Style HEADER
* @version: 1.0
* Copyright(c) -- Jazida
*/

/* HEADER
________________________________________________________________ */

header {
    @include clearfix;
    background-color: $color-white;
    box-shadow: 0 3px 9px rgba(1, 0, 1, 0.05);
    min-height: 80px;
    max-height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    .center {
        align-items: center;
        display: flex;
        height: 80px;
        justify-content: center;
    }

/* HEADER
    >> Logo
________________________________________________________________ */

    h1 {
       // display: inline-block;
        //float: left;
        flex-grow: 1;
        width: 20%;
    }

/* HEADER
    >> Menu
________________________________________________________________ */

    nav {
        //display: inline-block;
        //float: right;
        flex-grow: 2;
        text-align: right;
        width: 75%;
        

        a {
            text-transform: uppercase;
            margin: 0 20px;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}